%h1 feedcellar
%p= "Powered by Groonga #{groonga_version} and Rroonga #{rroonga_version}."
%form{:action => url("/search", false, true), :method => :get}
  %input{:type => "textarea", :name => "word", :size => 20, :value => params[:word]}
  %input{:type => "submit", :value => "Search"}
- if @feeds
  %p
    - grouping(@feeds).each do |resource|
      = markup_drilled_item(resource)
  %ul
    - @feeds.each do |feed|
      %li
        %a{:href => feed.link}= "#{feed.title} - #{feed.resource.title}"
